body
{
  background-color: #d9dfe8;
  font-family: 'Nunito', sans-serif;
}

.list-group-item
{
  background-color: #eefbea;
}

.search
{
  display: none;
  font-family: 'Nunito', sans-serif;
}

#guide
{
  visibility: visible;
}

.indicate
{
  font-size: 1.5em; 
}

#book-pic
{
  margin-right: auto;
  margin-left: auto;
}

img:hover
{
  transform: scale(1.025);
}

#book
{
  visibility: visible;
}

.search
{
  margin-bottom: 2em;
}

