body
{
  background-color: #d9dfe8;
  font-family: 'Nunito', sans-serif;
}

.list-group-item
{
  background-color: #eefbea;
}

.search
{
  display: none;
  font-family: 'Nunito', sans-serif;
}

#guide
{
  visibility: visible;
}

.indicate
{
  font-size: 1.5em; 
}

#book-pic
{
  margin-right: auto;
  margin-left: auto;
}

img:hover
{
  transform: scale(1.025);
}

#book
{
  visibility: visible;
}

.search
{
  margin-bottom: 2em;
}

#timpic
{
  display: none;
  border-radius: 30px;
  box-shadow: 0px 0px 19px black;
}

#about
{
  display: none; 
  font-size: 14px;
}

#projects
{
  display: none;
}

.fa-external-link
{
  margin-left: 3px;
}

#projects > a
{
  font-size: 14px;
}

.foot-pro
{
  font-size: 1.5em;
}

a:hover
{
  text-decoration: none; 
}

